

// ======= TABLETS ========
@include MediaMd {
    
    body {
        text-align: center;
    }
    .nav-overlay {
        background: #e6e6e6;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 40px;
        left: 35px;
        z-index: -1;
        transition: .8s;
        transition-delay: .1s;

        &.show {
            transform: scale(100);
        }
    }
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 75vw;
        max-width: 275px;
        // transform: translate3d(-100%, 0, 0);
        overflow: hidden;
        pointer-events: none;
        

        &.show {
            // transform: translate3d(0, 0, 0);
            pointer-events: initial;
        }

        .nav-list {

            .nav-item {
                opacity: 0;
                @include ease;
    
                &.show {
                    opacity: 1;
    
                    &:nth-child(1) {
                        transition-delay: .3s;
                    }
                    &:nth-child(2) {
                        transition-delay: .5s;
                    }
                    &:nth-child(3) {
                        transition-delay: .7s;
                    }
                    &:nth-child(4) {
                        transition-delay: .9s;
                    }
                }    
            }

        }
        .nav_social-list {
            transform: translate3d(-100%, 0, 0);
            transition: transform .4s ease;

            &.show {
                transform: translate3d(0, 0, 0);
                transition-delay: .6s;
            }
        }
        .nav-img {
            transform: translate3d(0, -150%, 0);
            @include ease;

            &.show {
                transform: translate3d(0, 0, 0);
            }
        }
        
    }

    // SECTION-BOOK
    .section-books {

        .books-container {
            // grid-template-columns: 1fr 1fr;
        }
    }

    // SECTION-CONTACT
    .section-contact {


        .contact-form {
            padding-top: 5rem;
        }
    }
}




// ======= SMART PHONES ========
@include MediaSm {
    body {
    }
    
    // SECTION-GALLERY
    .section-gallery {
        display: none;
        // background-color: red;
    }
   
}









// ======== Destops ========
@include MediaLg {

    .wrapper {
        grid-template-columns: 20vw auto;
    }
    .nav {
        background: #e6e6e6;
        width: 20vw;
        position: fixed;
        top: 0;
        left: 0;
    }
    .main {
        grid-column-start: 2;
    }

    // nav-button
    .nav-btn {
        display: none;
    }
    .nav-overlay {
        display: hidden;
    }

    // SECTION ABOUT
    .section-about {
        .about-container {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;



            .about-text {
            }
            .about-img {
            }
        }
    }


    // SECTION GALLERY 
    .section-gallery {
        
    }

    // SECTION-BOOK 
    .section-books {

        .books-container {
            grid-template-columns: 1fr 1fr;
        }
    }


    // SECTION-CONTACT
    .section-contact {
        .contact-container {
            // grid-template-columns: 1fr;
        }
    }



    // ========= SECTION-HERO ==========
    .section-hero {

        .hero-container {
            grid-template-columns: 1fr 1fr;
        }
    }
}

// ======== Extra large ======
@include MediaXl {
    
}