
   <!-- ========== Menu Button ========= -->
   <div class="nav-btn">
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
</div>
<div class="nav-overlay"></div>

<!-- Back to the top switch -->
<a href="#hero" class="to-top">
    <i class="fa-solid fa-chevron-up"></i>    
</a>
<!-- Day and Night Switch -->


<!-- ========= Navigation and Side View ========= -->
<nav class="nav">
    <div class="nav-bg"></div>
    <div class="nav-img">
        <img src="/assets/homepage/profile.png" alt="Samuel Botchwey">
    </div>
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/blog-index/" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
            <a href="#section-contact" class="nav-link">Contact Me</a>
        </li>
    </ul>
    <div class="switch-box">
        <input type="checkbox" name="switch" id="switch" />
        <label for="switch" class="label-left"></label>
        <label for="switch" class="label"></label>
    </div>
    <ul class="nav_social-list">
        <li class="nav_social-item">
            <a href="https://m.facebook.com/?af_rdr=0&af_cm=0&af_cm1&_rdc=1&_rdr" class="nav_social-link">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/sammzysmart/" class="nav_social-link">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="https://mobile.twitter.com/home" class="nav_social-link">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    </ul>
</nav>
