// table of content
// 1. Logo animation
// 2. Welcome Video
// 3. Article Snippet
// 4. Individual Block Page



// ========= LOGO ANIMATION ================
.logo-animation {
    margin-top: 5rem;
    text-align: center;

    img {
        display: inline-block;
        width: auto;
        height: 50px;
        border-radius: 10px;
        margin-right: 10px;
        animation-name: logo-image;
        animation-duration: 3.2s;
        animation-fill-mode: forwards;
    }
    h1 {
        display: inline-block;
        animation-name: logo-text;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    p {
        animation-name: logo-tagline;
        animation-duration: .5s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}


// ========== WELCOME VIDEO ===========
.blog-video {
    // background: red;
    padding: 5rem 0 0rem;
    // margin-top: 5rem;

    video {
        width: 100%;
        max-width: 1000px;
        height: auto;
    }
}



// =========== ARTICLE SNIPPET  ==============
.articles__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem 1rem;
    margin-bottom: 10rem;}

.article {
    background-color: var(--clr-white);
    padding: 10px;
    border-radius: 10px;
    // overflow: hidden;
    // height: 200px;

    .snippet {
        width: 100%;
        height: 100%;
        display: grid;
        grid-column-gap: 1rem;
        grid-template-columns: 40% 1fr;
        grid-template-rows: min-content min-content min-content 1fr;
        grid-template-areas:
        "snippet-image snippet-title"
        "snippet-image snippet-meta"
        "snippet-image snippet-body"
        "snippet-image snippet-button";

        &__image {
            grid-area: snippet-image;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__title {
            grid-area: snippet-title;
            font-size: 2.5rem;
            margin-bottom: .5rem;


            a {
                color: var(--clr-black);

                &:hover,
                &:focus {
                    color: var(--clr-primary);
                }
            }

        }
        &__meta {
            grid-area: snippet-meta;
            color: darkgray;
            font-size: 1.2rem;
        }
        &__body {
            grid-area: snippet-body;
        }
        .btn {
            grid-area: snippet-button;
            margin-top: 1rem;
            align-self: end;
            justify-self: start;
        }
    }
}
  





// ============= INDIVIDUAL BLOG PAGE ====================
.individual-article__page {
    padding-bottom: 12rem;

    .flow {
        max-width: 1000px;
        margin-inline: auto;
    }

    .main-article__figure {
        margin-bottom: 1rem;
        position: relative;
        padding: 0;
        height: 300px;

        img {
            width: 200px;
            height: auto;
            aspect-ratio: 1 / 1.5;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            border-radius: 5px;
        }

        &::before, &::after {
            content: "";
            display: inline-block;
            height: .1rem;
            width:25%;
            background-color: var(--clr-black);
            position: absolute;
            top: 50%;
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }
    
    .description {
        font-weight: 400;
        margin-bottom: 2rem;
    }
    .author {
        text-transform: capitalize;
        color: darkgray;
    }

    hr {
        margin: 4rem 0;
    }



    h1 {
        margin-bottom: .5rem;
        margin-top: 3rem;
        font-family: 'Yellowtail', cursive;
        letter-spacing: 2px;
    }
    .heading-secondary {
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0px;
    }
    
    p {
        margin-bottom: 1rem;
    }
}


@media screen and (max-width: 600px) {
   .individual-article__page {
       

       .main-article__figure {

        &::before, &::after {
            display: none;
        }
       }
   }

  }
@media screen and (max-width: 1019px) {
  
}