.logo-animation {
    margin-top: 5rem;
    text-align: center;

    img {
        display: inline-block;
        width: auto;
        height: 50px;
        border-radius: 10px;
        margin-right: 10px;
        animation-name: logo-image;
        animation-duration: 3.2s;
        animation-fill-mode: forwards;
    }
    h1 {
        display: inline-block;
        animation-name: logo-text;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    p {
        animation-name: logo-tagline;
        animation-duration: .5s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}



.articles__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem 1rem;
    margin-bottom: 10rem;}

.article {
    background-color: var(--clr-white);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    height: 200px;

    .snippet {
        width: 100%;
        height: 100%;
        display: grid;
        grid-column-gap: 1rem;
        grid-template-columns: 40% 1fr;
        grid-template-rows: min-content min-content min-content 1fr;
        grid-template-areas:
        "snippet-image snippet-title"
        "snippet-image snippet-meta"
        "snippet-image snippet-body"
        "snippet-image snippet-button";

        &__image {
            grid-area: snippet-image;
            border-radius: 10px;
        }

        &__title {
            grid-area: snippet-title;
            font-size: 2.5rem;
            margin-bottom: .5rem;


            a {
                color: var(--clr-black);

                &:hover,
                &:focus {
                    color: var(--clr-primary);
                }
            }

        }
        &__meta {
            grid-area: snippet-meta;
            color: darkgray;
            font-size: 1.2rem;
        }
        &__body {
            grid-area: snippet-body;
        }
        .btn {
            grid-area: snippet-button;
            margin-top: 1rem;
            align-self: end;
            justify-self: start;
        }
    }
}
  





// ============= INDIVIDUAL BLOG PAGE ====================
.individual-article__page {
    padding-bottom: 12rem;

    img {
        margin-bottom: 3rem;
    }

    h1 {
        margin-bottom: .5rem;
        margin-top: 3rem;
    }
    .heading-secondary {
        margin-bottom: 50px;
    }
    p {
        margin-bottom: 1rem;
    }
}


@media screen and (min-width: 1020px) {

  }
@media screen and (max-width: 1019px) {
  
}