.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
  }
  
  .main {
    // padding-top: 10rem;
    width: 100%;
    // width: 300px;
  }
  
  @media screen and (min-width: 1020px) {
    .wrapper {
        grid-template-columns: 20vw auto;
    }
    main {
        grid-column-start: 2;
    }
}

#hero {
  padding-top: 12rem;
}


  
// ========== Container =============
.container {
    margin-inline: auto;
    padding-inline: 1.2em;
    width: 100%;
    max-width: 90rem;
  }
  
  


 