
// =============== SECTION CONTACT ================
.section-contact {
    width: 100%;
    padding: 10rem 0;
    background-color: var(--clr-white);

    .contact-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "details"
            "form"
            "social"
            "privacy"
        ;
        grid-template-rows: auto;
    }

    .details {
        list-style: none;
        margin-bottom: 4rem;
        text-align: center;
        grid-area: details;
        margin-top: 5rem;

        li {
            display: flex;
            align-items: center;
            width: 80%;
            margin-bottom: 1rem;
            margin-inline: auto;
        }

        i {
            display: flex;
            width: 45px;
            height: 45px;
            border-radius: 3px;
            border: 2px solid var(--clr-primary);
            margin-right: 10px;
            align-items: center;
            justify-content: center;
            border-radius: 40%;
        }
        span {
            word-wrap: wrap;
            font-size: 1.3rem;
        }
    }

    .social-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    grid-area: social;

    .social-item {

        &:nth-child(1) .social-link {
            background: #3b5998;

            &:hover {
                color: #3b5998;
            }
        }
        &:nth-child(2) .social-link {
            background: #c32aa3;

            &:hover {
                color: #c32aa3;
            }
        }
        &:nth-child(3) .social-link {
            background: #1da1f2;

            &:hover {
                color: #1da1f2;
            }
        }
        &:nth-child(4) .social-link {
            background: #0e76a8;

            &:hover {
                color: #0e76a8;
            }
        }
    }
    .social-link {
        display: flex;
        text-decoration: none;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: #fff;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        border: 2px solid #fff;
        @include ease;
        @include shadow;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:hover::after,
        &:hover::after {
            top: 0;
        }

        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            @include ease;
            z-index: -1;
        }
    }
    
}
    .privacy {
        display: flex;
        width: 100%;
        margin-top: 5rem;
        align-items: center;
        justify-content: space-evenly;
        grid-area: privacy;

        a {
            display: inline-block;
            @include ease;
            color: var(--clr-gray-dark-2);

            &:hover, &:focus {
                transform: scale(1.1) skew(5deg, 2deg);
                color: var(--clr-primary)
            }
        }
    }
}


// ====== copyright info ==========
footer {
    background: var(--clr-white);
    padding: 5px;

    p {
        color: var(--clr-black);
        font-size: 14px;
        text-align: center;
    }
}




@media screen and (min-width: 768px) {

    .section-contact {
        .contact-container {
            grid-template-columns: 40% auto;
            grid-template-areas: 
            "details form"
            "social form"
            "privacy form"
        ;        
        }
    }
}
@media screen and (max-width: 767px) {
    .section-contact {

        .contact-form {
            margin-bottom: 7rem;
        }
    }
}