--- 

title: Recent articles
layout: 'base.njk'

--- 
<div class="logo-animation">
  <img src="/assets/homepage/logo.jpg" alt="b-smart logo" class="logo-image">
  <h1 class="logo-text">Bsmart</h1>
  <p>Explore Value, Expand Your Knowledge Base.</p>
</div>

<div class="blog-video">
  <div class="container">
    <video src="/assets/homepage/value.mp4" type="video/mp4" autoplay muted loop controls>your browser does not support video content</video>
  </div>
</div>

<div class="section-blog__post" id="hero">
  <div class="container">
    <h1 class="heading-secondary mb-50 text-center">Recent articles</h1>
    <div role="list" class="articles__list flow">
      {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor-%}
    </div>
  </div>
</div>


<!-- <li>
  <article class="snippet">
    <img src="/assets/blog/article-4.jpg" alt="a man on his computer" class="snippet__image">
    <h3 class="snippet__title"><a href="/blog/another-article/">Another article!!</a></h3>
    <p class="snippet__meta">by <span>Kevin Powell</span> on <span>Jun 15, 2021</span></p>
    <p class="snippet__body">This is a new article that I&#39;ll be posting</p> 
    <a href="/blog/another-article/" class="btn btn-primary">Continue Reading</a>
  </article>
</li> -->




