---
title: Samuel Botchwey
layout: "base.njk"
---

        <!-- ==== SECTION-HERO ==== -->
<section class="section-hero" id="hero">
    <div class="container">
        <div class="hero-container text-center">
            <div class="hero-text">
                <p>I am</p>
                <h1>Samuel</h1>
                <p class="mb-30"><strong><em>Value</em></strong> . How much of it can be accrued as a person and how much of it am I willing to share to create a community of shared values. If this is something that resonates with you, be my most prized guest. <br> Be Value !!!</p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Download CV</a>
                    <a href="#" class="btn btn-neutral">Get in Touch</a>
                </div>
            </div>
            <div class="hero-img">

            </div>
        </div>
    </div>
</section>

<!-- ==== SECTION-ABOUT ==== -->
<section class="section-about" id="section-about">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-primary mb-50">About us</h2>
        </div>
        <div class="about-container">
            <div class="about-text">
                <h2 class="heading-secondary text-center mb-20">who am i</h2>
                <p>Hey there! I'm Samuel, a 21-year-old soon to be a graduate in the Bachelor of Business Administration. I take personal interest in the world of Business, to be specific that of investing. I as well claim to have a self-certified passion in music (I mean who doesn't). 
                    <br>
                However, my interest mostly lies in classical music which justifies how much I love the voilin.
                <br>
                I have a broad base books collection which I would be showing and give my objective view of the books as well as some recommendations. I have a deep fondness with my collection of books as they tend to define who I am. I'm a chess player as well. Due to the fact it teaches open mindedness and strategy for the least.
                <br>
                I aspire to become a macro economist. I am currently embarking on a course in Business Intelligence Anaysis which would serve as a stepping stone moving forward in the career game.
                </p>
            </div>
            <div class="about-img">
                <img src="./assets/homepage/about-img.jpg" alt="Samuel">
            </div>
        </div>
    </div>
</section>

<!-- ===== Gallery ===== -->
 <section class="section-gallery" id="section-gallery">
    <div class="container">
        <div class="gallery-container">
            <img src="./assets/homepage/5.jpg" alt="Samuel" class="gallery-image">                       
            <img src="./assets/homepage/16.jpg" alt="Mawuli" class="gallery-image">                       
            <img src="./assets/homepage/22.jpg" alt="Samuel Botchwey" class="gallery-image">                       
            <img src="./assets/homepage/smart-4.jpg" alt="Samuel Botchwey" class="gallery-image">                       
            <img src="./assets/homepage/Sammzy-6.jpg" alt="Botchwey" class="gallery-image">                       
        </div>
    </div>
</section>


<!-- ==== SECTION-BOOKS ==== -->
<section class="section-books" id="section-books">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-primary mb-50">Books</h2>
        </div>
        <h2 class="heading-secondary text-center mb-20">Here are some books that have inspired and impacted my life</h2>

        <div class="books-container">
            <div class="book">
                <img src="./assets/homepage/365 DAYS WITH SELF-DISCIPLINE.png" alt="365 days with SELF-DISCIPLINE">
                <div class="book-title">
                    <h3>365 days with self-discipline</h3>
                    <h4>Martin meadows</h4>
                </div>
                <p class="book-text mb-30">This read comes higly recommeded. This read tends to serve as a tool in elevating your game in discipline. This book became an impact as it gave daily disciplines one could follow in developing a setady discipline life.</p>
                <a href="#" class="btn btn-primary" id="openBookModal">Read More &longrightarrow;</a>

                <!-- <div class="book__modal-container">
                    <div class="book__modal">
                        <h1 class="heading-secondary">Lorem ipsum dolor sit amet.</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui nulla doloribus sint minima ut facere eos, magnam obcaecati, dolore laudantium quam rerum repudiandae, deserunt optio aperiam maxime reprehenderit quisquam distinctio commodi nisi nostrum quo ratione! Possimus corporis vero distinctio ratione.</p>
                        <a href="#" class="btn btn-neutral">Read Full Review</a>
                    </div>
                </div> -->
            </div>
            <div class="book">
                <img src="./assets/homepage/the new great depression.png" alt="the new great depression">
                <h3>the new great depression</h3>
                <h4>Jim Rickards</h4>
                <p  class="book-text mb-30">Jim Rickards, being on of my favourite economist and a genius in macro economics expressly gives his views and predictions of the US economy. this book has given me the awareness of how government seem to cling to power and how they used the recent pandemic as a facade </p>
                <a href="#" class="btn btn-primary" id="openBookModal">Read More &longrightarrow;</a>

                <!-- <div class="book__modal-container">
                    <div class="book__modal">
                        <h1 class="heading-secondary">Lorem ipsum dolor sit amet.</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui nulla doloribus sint minima ut facere eos, magnam obcaecati, dolore laudantium quam rerum repudiandae, deserunt optio aperiam maxime reprehenderit quisquam distinctio commodi nisi nostrum quo ratione! Possimus corporis vero distinctio ratione.</p>
                        <a href="#" class="btn btn-neutral">Read Full Review</a>
                    </div>
                </div> -->
            </div>
            <div class="book">
                <img src="./assets/homepage/smart thinking.png" alt="smart thinking">
                <h3>smart thinking</h3>
                <h4>mathew allen</h4>
                <p class="book-text mb-30">I consider this reas as one of the important reads anyone should have. In this era, we seen to find ouselves in, it becomes imperative that one not just think but think smart. This book has brought to light a simple but yet effective means by which anyone (including me) can and should employ in making effective reasoning.</p>
                <a href="#" class="btn btn-primary" id="openBookModal">Read More &longrightarrow;</a>

                <!-- <div class="book__modal-container">
                    <div class="book__modal">
                        <h1 class="heading-secondary">Lorem ipsum dolor sit amet.</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui nulla doloribus sint minima ut facere eos, magnam obcaecati, dolore laudantium quam rerum repudiandae, deserunt optio aperiam maxime reprehenderit quisquam distinctio commodi nisi nostrum quo ratione! Possimus corporis vero distinctio ratione.</p>
                        <a href="#" class="btn btn-neutral">Read Full Review</a>
                    </div>
                </div> -->
            </div>
            <div class="book">
                <img src="./assets/homepage/smart thinking.png" alt="smart thinking">
                <h3>smart thinking</h3>
                <h4>mathew allen</h4>
                <p class="book-text mb-30">I consider this reas as one of the important reads anyone should have. In this era, we seen to find ouselves in, it becomes imperative that one not just think but think smart. This book has brought to light a simple but yet effective means by which anyone (including me) can and should employ in making effective reasoning.</p>
                <a href="#" class="btn btn-primary" id="openBookModal">Read More &longrightarrow;</a>

                <!-- <div class="book__modal-container">
                    <div class="book__modal">
                        <h1 class="heading-secondary">Lorem ipsum dolor sit amet.</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui nulla doloribus sint minima ut facere eos, magnam obcaecati, dolore laudantium quam rerum repudiandae, deserunt optio aperiam maxime reprehenderit quisquam distinctio commodi nisi nostrum quo ratione! Possimus corporis vero distinctio ratione.</p>
                        <a href="#" class="btn btn-neutral">Read Full Review</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- ===== Eduction ===== -->
<section class="section-education" id="eduction">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-primary mb-50">Education</h2>
        </div>
        <div class="education-details">
            <details>
                <summary>University / College</summary>
                <p class="mt-10">University of Professional Studies, Accra</p>
                <p>Bachelor of Business Administration</p>
                <p>2018 - 2022</p>
                <p>P.O Box LG 149, Accra-Ghana</p>
            </details>
            <details>
                <summary>High School</summary>
                <p>St. John's Grammar</p>
                <p>General Arts</p>
                <p>2015 - 2018</p>
                <p>P.O Box AH 183, Accra-Ghana</p>
            </details>
            <details>
                <summary>Junior High</summary>
                <p>Accra Grammar School</p>
                <p>2012 - 2015</p>
                <p>P.O Box LG 149, Accra-Ghana</p>
            </details>
            <details>
                <summary>Online Courses</summary>
                <p>Business Intelligence Analyst</p>
                <p>Udemy</p>
            </details>
        </div>
    </div>
</section>


<!-- =============== BLOG =================== -->
<section class="section-blog">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-primary mb-50">My thoughts</h2>
        </div>
        <div class="text-center mb-50">
            <h2 class="heading-secondary">Here are some of my recent posts</h2>
        </div>
        <div class="blog-container">

            {%- for post in collections.featured | reverse -%}
                {% include 'article-snippet.njk' %}
            {%- endfor-%}
        </div>
        <div class="text-center">
            <a href="/blog/" class="btn btn-primary">Recent Articles</a>
        </div>
    </div>
</section>

              



    

